#cart-panel {
  position: fixed;
  top: 80px; /* below top bar */
  right: 20px;
  width: 300px;
  max-height: 80vh;
  overflow-y: auto;
  background: #f8f8f8;
  border: 1px solid #3f3a3a;
  padding: 15px;
  border-radius: 8px;
  color: black;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.2);
  z-index: 100;
}

.cart-item {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  align-items: center;
}

.cart-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}
.cart.light {
  background: #f8f8f8;
  color: black;
}

.cart.dark {
  background: #1e1e1e;
  color: white;
}
