.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  background: white;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
  width: 220px;
  margin: auto;
}

.product-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}

.product-name {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.product-price {
  margin-bottom: 10px;
  font-weight: bold;
}

.add-btn {
  padding: 6px 12px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}
.light-card {
  background: white;
  color: black;
}

.dark-card {
  background: #1e1e1e;
  color: white;
}
