#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.light {
  background-color: #ffffff;
  color: #000000;
}

.dark {
  background-color: #121212;
  color: #ffffff;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: inherit; /* inherits from app dark/light */
  color: inherit;
  flex-wrap: wrap;
  gap: 10px;
}

.category-select, .btn, .cart-btn {
  padding: 6px 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.category-select:hover, .btn:hover, .cart-btn:hover {
  filter: brightness(0.9);
}
.app.light {
  background: white;
  color: black;
}

.app.dark {
  background: #121212;
  color: white;
}
